@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,500,500italic,700,700italic);
body{
	font-family: 'Roboto', sans-serif;
}
#header{
	height: 1000px;
	background: url(../img/bg.jpg) no-repeat top center;
}
.title{
	margin-top: 43%;
}
#header a{
	color: #fff;
	font-size: 53px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
#header a:hover{
	text-decoration: none;
}
#header button{
	margin-top: 65px;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	padding: 15px 30px;
}
.navbar-default{
	background: #252e30;
	height: auto;
	box-sizing: border-box;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-brand{
	color: #fff;
	background: url(../img/F.png) no-repeat 0 0;
	margin-top: 14px;
	padding-left: 50px;
	font-size: 32px;
	font-weight: bold;
}
.navbar-default .navbar-brand span{
	color: #2ecc71;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	padding-top: 28px;
	font-weight: bold;
	font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #2ecc71;
}
.goals{
	margin: 85px 0;
}

h4{
	font-size: 28px;
	text-transform: uppercase;
	color: #566366;
	font-weight: bold;
}
p{
	margin-top: 50px;
	font-size: 18px;
	color: #919191;
	text-align: justify;
}
.about {
	height:auto;
	background: #f2f2f1;
	padding-bottom: 20px;
	box-sizing: border-box;
}
.about-me{
padding-left: 140px;
padding-top: 40px;
padding-right: 60px;
}

.about-me h6{
	font-size: 20px;
	text-transform: uppercase;
	color: #566366;
	font-weight: bold;
}
.about-me p{
	margin-top: 40px;
}
.about-me .row1{
	margin-top: 30px;
}
.about-me img{
	float: left;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 80px;
}
.about-me p{
	overflow: hidden;
}
.skills{
	padding-top: 140px;
}
.skills button,
.resume button{
	margin-top: 30px;
	text-transform: uppercase;
	border: 1px solid #2ecc71;
	color: #2ecc71;
	background: transparent;
	padding: 17px 40px;
}
.scale{
	margin-top: 40px;
}
h5{
	font-size: 22px;
	text-transform: uppercase;
	color: #566366;
	font-weight: bold;
}
.progress {
	border-radius: 0;
	background-color: #f2f2f1;
	margin: 30px 0;
}
.progress-bar{
	background: #2ecc71;
	text-align: right;
	padding-right: 10px;
}
.resume{
	margin-top: 50px;
	padding-top: 110px;
	background: #f2f2f1;
	text-align: center;
	padding-bottom: 90px;
}
.resume p{
	text-align: center;
}
.education,
.work{
	padding-top: 100px;
	text-align: left;
}
.education h4,
.work h4{
	margin-bottom: 30px;
}
.education p,
.work p{
	margin-top: 15px;
}
.education button,
.work button{
	margin-bottom: 30px;
	background: #2ecc71;
	border: none;
	color: #fff;
	padding: 5px;
}
.education hr,
.work hr{
	border: 1px solid #ccc;
}
.education .row .col-md-12,
.work .row .col-md-12{
	margin-bottom: 70px;
}
.carousel{
	background: #f2f2f1;
	margin-bottom: 80px;
}
.carousel-inner .item{
	background: rgba(0,0,0,0);
	height: 350px;
}
.carousel-control.left{
	background: transparent ;
}
.carousel-control.right{
	background: transparent;
}
.carousel-inner .item .carousel-caption{
	top: 10%;
}
 #carousel-example-generic .carousel-indicators{
	bottom: 30px;
}
.carousel-indicators li{
	background: transparent;
	border: 1px solid #2ecc71;
}
.carousel-indicators .active{
	background: #2ecc71;
}
.carousel-caption p{
	font-size: 24px;
	font-weight: 400;
	font-style: italic;
	color: #919191;
	text-shadow: none;
}
.carousel-caption span{
	font-size: 18px;
	font-weight: bold;
	color: #566366;
	text-transform: uppercase;
	text-shadow: none;
}
.portfolio{
	text-align: center;
	margin-bottom: 80px;
}
.portfolio p{
	text-align: center;
	margin-bottom: 80px;
}
.portfolio .row{
	margin: 20px 0;
}
.portfolio .col-sm-6{
		margin: 10px 0;
	}
.portfolio .filters{
	background: #252e30;
	height: 300px;
	width: 360px;
}
.portfolio .filters h5{
	margin-top: 0;
	color: #fff;
	font-size: 17px;
	padding-top: 30px;
	margin-left: 40px;
	text-align: left;
}
.portfolio .filters li{
	list-style: none;
	font-size: 16px;
	text-align: left;
	padding: 2px 0;
}
.portfolio .filters li a{
	color: #fff;
}
.portfolio .filters li a:hover{
	text-decoration: none;
}
.portfolio .gallery{
	position: relative;
}

.layer{
	position: absolute;
	top: 0;
	left: 15px;
	width: 360px;
	height: 300px;
	background: rgba(42,162,95,0.8);
	opacity: 0;
	transition: all .5s;
	cursor: url("../img/zoom.cur"), auto;
}
.portfolio .gallery:hover .layer{
	opacity: 1;
}

.contact{
	padding-top: 90px;
	height: auto;
	background: #252e30;
	padding-bottom: 50px;
}
.contact h4{
	color: #fff;
}
.contact .col-md-6{
	color: #919191;
}
.contact .col-md-6 a{
color: #fff;
}
.contact .col-md-6 a span{
	padding-left: 40px;
	color: #919191;
	font-size: 16px;
}
.form-horizontal label{
	color: #fff;
}
.form-horizontal input,
.form-horizontal textarea{
	margin: 10px 0;
	border-radius: 0;
	background: #4b5456;
	border: none;
}
.form-horizontal button{
	background: #191f21;
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	padding: 15px 40px;
}
footer{
	padding: 20px 0;
	background: #191f21;
	height: 150px;
}
.copyright{
	color: #4b5456;
	text-transform: uppercase;
	text-align: center;
}
.icons-sprite{
	margin: 20px 180px;

}
.icons-sprite li{
	float: left;
	height: 34px;
	width: 34px;
	list-style: none;
	margin: 5px;
}
.icon1{background: url(../img/sprite-icony.png) no-repeat 0 0;}
.icon2{background: url(../img/sprite-icony.png) no-repeat -34px 0 ;}
.icon3{background: url(../img/sprite-icony.png) no-repeat -68px 0;}
.icon4{background: url(../img/sprite-icony.png) no-repeat -102px 0;}
.icon5{background: url(../img/sprite-icony.png) no-repeat -136px 0;}
.icon6{background: url(../img/sprite-icony.png) no-repeat -170px 0;}

.icon1:hover{background: url(../img/sprite-icony.png) no-repeat 0 -34px;}
.icon2:hover{background: url(../img/sprite-icony.png) no-repeat -34px -34px;}
.icon3:hover{background: url(../img/sprite-icony.png) no-repeat -68px -34px;}
.icon4:hover{background: url(../img/sprite-icony.png) no-repeat -102px -34px;}
.icon5:hover{background: url(../img/sprite-icony.png) no-repeat -136px -34px;}
.icon6:hover{background: url(../img/sprite-icony.png) no-repeat -170px -34px;}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px){
 .title{
 	margin-top: 55%;
 }
 #header a{
 	font-size: 44px;
 }
#header button{
	margin-left: 36%;
}
.navbar-default .navbar-nav>li>a{
	padding: 28px 10px 15px;
}
 .about .col-md-5 img{
 	height: 550px;
 	margin-top: 80px;
 }
 .about-me{
		padding-left: 100px;
 	}
 	.about p{
 	margin-top: 30px;
 	font-size: 16px;
 }
 .about-me h6{
 	padding-left: 10px;
 }
 
 .portfolio .col-md-4 img,
 .portfolio .col-md-4 .filters{
 	width: 280px;
 	height: 233px;
 }
 .portfolio .gallery .layer{
	width: 282px;
	height: 233px;
 }
 .icons-sprite{
 	margin: 20px 0;
 }
}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px){
	.navbar-default .navbar-nav>li>a{
		font-size: 12px;
		padding: 28px 5px 15px;
	}
	#header a {
		margin-left: 50px;
	}
	.about .col-md-5 img{
		margin: 0;
	}
	#carousel-example-generic .carousel-indicators{
		bottom: 10px;
	}
	.portfolio .col-sm-6:not(.gallery){
		padding-left: 40px;
	}
	.layer{
		left: 40px;
	}
	.filters{
		margin-left: 40px;
	}
	.form-horizontal{
	margin-top: 20px;
	}
	.icons-sprite{
 	margin-left: -65px;
 }
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	#header a {

		font-size: 1.6em;
		margin-left: 3em;
	}
	#header button{
	margin-left: 5em ;
	}
	.navbar-default .navbar-toggle{
		color: #2ecc71;
		border-color: #2ecc71 ;
		background-color:  none;
		margin-top: 15px;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		border-color: #fff ;
		background: #2ecc71;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #2ecc71;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar{
		background-color: #fff;
	}
	.goals .col-md-4{
		padding: 0;
	}
	.about-me{
		padding-left: 30px;
		padding-right: 10px;
	}
	.about .col-md-5 img{
 		width: auto;
 		margin: 0;
 	}
 	#carousel-example-generic p{
 		margin-top: 10px;
 	}
 .portfolio .col-sm-6:not(.gallery){
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	.layer{
		left: 50%;
		margin-left: -140px;
	}
	.icons-sprite{
 	margin-left: 20%;
 }
	
}
