@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadProLightSemiCn.eot");
  src: url("../fonts/MyriadProLightSemiCn.eot") format("embedded-opentype"), url("../fonts/MyriadProLightSemiCn.woff2") format("woff2"), url("../fonts/MyriadProLightSemiCn.woff") format("woff"), url("../fonts/MyriadProLightSemiCn.ttf") format("truetype"), url("../fonts/MyriadProLightSemiCn.svg#MyriadProLightSemiCn") format("svg"); }
@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadProLightSemiCn.eot");
  src: url("../fonts/MyriadProLightSemiCn.eot") format("embedded-opentype"), url("../fonts/MyriadProLightSemiCn.woff2") format("woff2"), url("../fonts/MyriadProLightSemiCn.woff") format("woff"), url("../fonts/MyriadProLightSemiCn.ttf") format("truetype"), url("../fonts/MyriadProLightSemiCn.svg#MyriadProLightSemiCn") format("svg"); }
@font-face {
  font-family: 'MyriadProBold';
  src: url("../fonts/MyriadProBoldSemiCn.eot");
  src: url("../fonts/MyriadProBoldSemiCn.eot") format("embedded-opentype"), url("../fonts/MyriadProBoldSemiCn.woff2") format("woff2"), url("../fonts/MyriadProBoldSemiCn.woff") format("woff"), url("../fonts/MyriadProBoldSemiCn.ttf") format("truetype"), url("../fonts/MyriadProBoldSemiCn.svg#MyriadProBoldSemiCn") format("svg"); }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html,
body {
  height: 100%; }

body {
  font-family: "MyriadPro", sans-serif; }

.content {
  padding-bottom: 80px; }

.wrapper {
  position: relative;
  min-height: 100%; }

.container {
  width: 1120px;
  margin: 0 auto; }

h2 {
  font-size: 55px;
  text-align: center; }

h3 {
  font-size: 38px;
  text-align: center; }

/*HEADER*/
.header {
  min-height: 115px;
  background: white;
  margin: 45px 0 40px; }
  .header__logo {
    float: left;
    margin-right: 50px; }
  .header__contacts {
    float: left;
    margin-right: 50px; }
  .header__autorization {
    float: left;
    margin-right: 40px; }
  .header__basket {
    float: left; }

.logo {
  width: 230px; }

.contacts {
  width: 287px;
  height: 115px; }

.header__our-city {
  float: left;
  margin-right: 6px;
  font-size: 20px; }

.header__select {
  float: left;
  font-size: 20px;
  margin-bottom: 12px; }
  .header__select a {
    color: #004480;
    text-decoration: none;
    /*padding-bottom: 2px;*/
    border-bottom: 1px dotted #004480; }
    .header__select a .fa {
      margin-left: 5px;
      color: #333333;
      font-size: 14px; }

.phone {
  color: #a70000;
  font-size: 22px;
  letter-spacing: -0.3px;
  font-weight: bold;
  font-family: "MyriadProBold", sans-serif; }

.header__phone {
  clear: both;
  overflow: hidden;
  margin: 10px 0; }

.header__phone-place {
  margin-top: 15px;
  font-size: 14px; }

.autorization {
  width: 265px;
  font-size: 18px;
  position: relative;
  height: 115px; }

.autorization__enter {
  display: inline;
  font-size: 20px; }

.autorization__registration {
  color: #004480;
  font-size: 20px;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px dotted #004480; }

.autorization__form-user, .autorization__form-password {
  margin: 20px 0 25px;
  float: left; }
.user__button{
  height: 35px;
  width: 35px;
  float: left;
  background: #cdcdcd;
  border: 1px solid #ababab;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 8px 0;
  box-sizing: border-box;
}
.autorization__form-user .fa {
  color: #231f20;
  text-align: center;
   }
.user__input {
  float: left;
  width: 103px;
  height: 35px;
  padding: 0 0 0 5px;
  box-sizing: border-box;
  border: 1px solid #ababab;
  border-radius: 0 3px 3px 0;
  outline: none; }

.password__input {
  width: 105px;
  margin-left: 10px;
  padding: 10px 0 8px 5px;
  box-sizing: border-box;
  border: 1px solid #ababab;
  border-radius: 3px;
  outline: none; }

.autorization__forget {
  font-size: 14px;
  color: #004480;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px dotted #004480; }

.basket {
  width: 178px;
  height: 154px;
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 5px;
  text-align: left;
  margin-top: -20px;
  padding: 20px 20px 20px 25px; }

.basket__view-empty {
  font-size: 19px;
  margin-bottom: 15px; }
  .basket__view-empty .fa {
    color: #a70000;
    margin-right: 8px; }

.basket__number,
.basket__price {
  font-size: 18px;
  font-weight: bold;
  font-family: "MyriadProBold", sans-serif;
  margin-bottom: 8px; }

.basket__price {
  margin-bottom: 17px; }

.basket__go-shopping {
  font-size: 16px;
  color: #004480;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

/*Navigation*/
.main-menu-nav {
  height: 50px;
  background: #333;
  box-sizing: border-box; }

.main-menu {
  float: left;
  margin-right: 108px;
  height: 50px;
  margin-top: 15px; }

.main-menu__item {
  display: inline;
  margin: 0 13px;
  padding: 15px 0 11px;
  border-bottom: 5px solid transparent; }
  .main-menu__item:hover {
    border-bottom: 5px solid #a70000; }
    .main-menu__item:hover .main-menu__link {
      text-shadow: white 0px 0px 5px; }

.main-menu__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 16px;
  line-height: 18px; }

.main-menu__link--home {
  padding-left: 3px;
  font-size: 18px; }

.main-menu__item:nth-child(2) {
  margin-left: 0; }

.main-menu__item:last-child {
  margin-left: 21px; }

.main-menu__item--home {
  margin-left: 0;
  margin-right: 26px; }
  .main-menu__item--home .fa:hover {
    text-shadow: white 0px 0px 5px; }

.main-menu-price-list {
  float: left;
  padding: 17px 0;
  margin-right: 15px; }

.price-list__link {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #7bb0cd;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #7bb0cd; }
  .price-list__link i {
    color: white;
    padding-right: 5px; }
  .price-list__link:hover {
    color: white;
    border-bottom: 1px solid white; }

.main-menu__search {
  margin-left: 22px;
  float: left;
  padding: 15px 0; }

.btn__search {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px; }
  .btn__search .fa:hover {
    text-shadow: white 0px 0px 5px; }

/*Start*/
.start {
  min-height: 460px;
  background: #adadad; }

.start > .container {
  min-height: 460px;
  background: url("../img/start_bg.png") no-repeat right bottom; }

.description__name {
  padding-top: 65px;
  font-size: 34px;
  line-height: 38px;
  color: #a70000;
  width: 450px;
  margin-bottom: 25px;
  text-align: justify; }

.description__paragraph {
  font-size: 20px;
  width: 448px;
  font-weight: bold;
  font-family: "MyriadProBold", sans-serif;
  line-height: 28px;
  margin-bottom: 50px; }
.description__merit:after {
  content: "";
  display: table;
  clear: both; }
.description__merit-block {
  width: 200px;
  height: 187px;
  padding: 15px 15px 20px 20px;
  float: left;
  box-sizing: border-box;
  color: white;
  position: relative; }

.theme__blue {
  background: #152a48; }

.theme__red {
  margin-left: 30px;
  background: #a70000; }
  .theme__red .merit_img {
    background-position: -1px -55px; }

.merit_img {
  height: 50px;
  width: 80px;
  background: url(../img/sprite.png) no-repeat 0px 0px;
  margin-bottom: 8px; }

.merit__paragraph {
  font-family: "MyriadProBold", sans-serif;
  font-size: 16px;
  line-height: 20px; }

.merit__lin {
  color: white;
  position: absolute;
  bottom: 25px; }

/*Quality*/
.main__block{
  padding: 60px 0; 
}
.main__title{
  color: #a70000;
  padding: 0 0 60px 0;
}
.quality {
  padding: 60px 0 60px 0; }

.quality__title {
  color: #a70000;
  margin-bottom: 65px; }

.quality__comment {
  width: 730px;
  margin: 0 auto;
  overflow: hidden; }

.comment__autor {
  float: left;
  width: 177px;
  font-size: 14px; }

.autor__name {
  margin-top: 22px;
  font-family: "MyriadProBold", sans-serif; }

.autor__position {
  margin-top: 5px;
  line-height: 18px; }

.comment__recall {
  width: 450px;
  float: left;
  font-size: 20px;
  margin-left: 73px;
  position: relative; }

.recall__quotes {
  height: 31px;
  width: 39px;
  display: block;
  background: url(../img/sprite.png) no-repeat -240px -469px;
  position: absolute;
  top: 0;
  left: -55px; }

.recall__text {
  margin-top: -7px;
  line-height: 30px; }

.quality__certificate {
  clear: both; }

.quality__certificate {
  margin-top: 70px;
  position: relative; }

.certificate__label {
  position: absolute;
  bottom: -10px;
  left: 40px;
  z-index: 100; }

.certificate__block {
  width: 930px;
  height: 100px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: #808080;
  margin: 0 auto;
  z-index: 10; }

.certificate__text {
  display: block;
  width: 790px;
  padding-left: 52px;
  margin: 0 auto;
  color: white;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  font-family: "MyriadProBold", sans-serif;
  font-size: 20px;
  padding-top: 22px;
  text-align: left;
  line-height: 28px; }

/*Equipment*/
.equipment {
  background: #eeeeee;
  overflow: hidden;
  padding: 60px 0; }

.equipment__title {
  color: #a70000;
  margin-bottom: 60px; }

.equipment__tabs {
  overflow: hidden;
  margin-top: 25px; }

.equipment__tab-row {
  overflow: hidden;
  margin-bottom: 25px; }

.tab__item {
  float: left;
  border: 2px solid #808080;
  border-radius: 2px;
  padding: 30px 0 30px 35px;
  box-sizing: border-box;
  position: relative; }

.tab__item--size-m {
  width: 530px;
  height: 370px; }

.tab__item--size-m:first-child {
  margin-right: 30px;
  background: url(../img/product1.png) no-repeat bottom right; }

.tab__item--size-m:last-child {
  background: url(../img/product2.png) no-repeat bottom right; }

.tab__item--size-s {
  width: 350px;
  height: 250px;
  margin-right: 20px; }

.tab__item--size-s:first-child {
  background: url(../img/product3.png) no-repeat bottom right; }

.tab__item--size-s:nth-child(2) {
  background: url(../img/product4.png) no-repeat bottom right; }

.tab__item--size-s:last-child {
  margin-right: 0px;
  background: url(../img/product5.png) no-repeat bottom right; }

.tab__item-description {
  width: 34%;
  color: #6b6b6b; }

.tab__item--size-m > .tab__item-description {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px; }

.tab__item--size-s > .tab__item-description {
  margin-top: 25px;
  font-size: 16px; }

.tab__item-name {
  margin-top: 10px;
  font-size: 20px;
  font-family: "MyriadProBold", sans-serif; }

.item-link {
  background: #a70000;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 8px 10px 8px 15px;
  border-radius: 4px;
  color: white;
  text-decoration: none; }
  .item-link:hover {
    text-shadow: white 0px 0px 5px; }

.tab__item-link {
  position: absolute;
  bottom: 32px;
  right: 25px; }

.item-link .fa {
  padding-left: 20px;
  font-size: 18px; }

.tab__item-price {
  font-family: "MyriadProBold", sans-serif;
  position: absolute;
  left: 33px;
  bottom: 20px;
  color: #a70000; }

.tab__item--size-m > .tab__item-price {
  font-size: 50px; }

.tab__item--size-s > .tab__item-price {
  font-size: 34px; }

/*production*/
.production {
  overflow: hidden;
  background: #333333;
  padding: 60px 0; }

.production__title {
  color: white;
  padding: 0px 0 60px; }

.production__photos {
  overflow: hidden;
  margin-bottom: 50px; }

.production__photo--s {
  float: left;
  width: 33%; }

.production__photo--m {
  float: left; }

.production__step {
  float: left;
  width: 194px;
  text-align: center;
  padding-top: 120px;
  margin-right: 27.5px;
  color: rgba(171, 171, 171, 0.7);
  font-size: 20px;
  line-height: 26px; }

.production__step:last-child {
  margin-right: 0; }

.production__steps {
  overflow: hidden;
  width: 100%;
  margin-bottom: 90px; }

.production__link-read {
  display: block;
  margin: 0 auto;
  width: 220px; }

.step-1 {
  background: url(../img/sprite.png) no-repeat 30px -195px; }

.step-2 {
  background: url(../img/sprite.png) no-repeat -140px -195px; }

.step-3 {
  background: url(../img/sprite.png) no-repeat -90px 0px; }

.step-4 {
  background: url(../img/sprite.png) no-repeat -325px 0px; }

.step-5 {
  background: url(../img/sprite.png) no-repeat -325px -233px; }

/*customer-support*/
.customer-support {
  padding: 60px 0; }

.customer-support__title {
  color: #a70000;
  margin-bottom: 60px; }

.support__paragraph-bold {
  color: #a70000;
  font-family: "MyriadProBold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
  padding-left: 20px; }

.support__paragraph {
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px; }

.red__block {
  width: 29px;
  height: 12px;
  background: #a70000; }

.support__steps {
  overflow: hidden;
  padding-left: 20px; }

.support__step {
  padding-top: 60px; }

.support__step-pharagraph {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #a70000;
  text-align: left; }

/*questions*/
.questions {
  overflow: hidden;
  clear: both;
  padding: 60px 0;
  background: #eeeeee; }

.questions__title {
  color: #a70000;
  padding: 0px 0 65px; }

.question__contact-chef {
  float: left;
  width: 560px;
  height: 161px; }

.contact-chef__autor-photo {
  float: left;
  margin-right: 40px; }

.contact__information {
  float: left;
  height: 161px;
  position: relative; }

.question__contact-name {
  margin-top: 0;
  font-size: 20px; }

.question__contact-position {
  margin: 20px 0 0px;
  font-size: 20px;
  line-height: 30px; }

.question__contact {
  float: left;
  width: 220px;
  margin-right: 50px;
  height: 161px; }

.question__contact-phone {
  position: absolute;
  font-size: 26px;
  bottom: 32px; }

.question__contact-button {
  background: #004480;
  font-size: 16px;
  letter-spacing: 0px;
  padding-left: 20px;
  padding-right: 15px;
  position: absolute;
  bottom: -20px; }

.question__contact-button .fa,
.question__contact-button-call .fa {
  font-size: 18px;
  padding-left: 15px; }

.question__contact {
  position: relative; }

.question__contact-button-call {
  font-size: 16px;
  position: absolute;
  bottom: -20px; }

/*Footer*/
.footer {
  height: 80px;
  background: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

.footer > .container {
  position: relative; }

.footer__copyright-block {
  padding-top: 16px;
  float: left;
  color: white;
  font-size: 16px;
  line-height: 24px; }

.footer__protection-link {
  color: white;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #fff; }

.footer__design {
  margin-left: 200px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 24px;
  width: 200px;
  padding-top: 15px;
  float: left;
  color: white; }

.footer__design-link {
  color: white;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #fff; }

.footer_logo-designer {
  position: absolute;
  right: 5px;
  top: 20px; }

/*╨Т╤Л╨▒╨╛╤А ╨│╨╛╤А╨╛╨┤╨░*/
.pop__up {
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto; }

.pop__up-block {
  width: 635px;
  height: 380px;
  margin: 230px auto;
  z-index: 1000;
  border-radius: 4px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white; }

.city__header {
  height: 190px;
  padding-top: 70px;
  box-sizing: border-box; }

.header__city-select {
  display: block; }

.header__select-input {
  outline: none;
  padding: 5px 0 5px 3px;
  border: 1px solid #808080;
  border-radius: 3px;
  font-size: 18px;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .header__select-input::-webkit-input-placeholder {
    font-size: 18px;
    font-family: "MyriadPro", sans-serif; }
  .header__select-input::-moz-placeholder {
    font-size: 18px;
    font-family: "MyriadPro", sans-serif; }
  .header__select-input:-moz-placeholder {
    font-size: 18px;
    font-family: "MyriadPro", sans-serif; }
  .header__select-input:-ms-input-placeholder {
    font-size: 18px;
    font-family: "MyriadPro", sans-serif; }

.header-our-city {
  display: block;
  width: auto;
  text-align: center;
  margin: 0 auto;
  padding: 5px 0 20px;
  font-size: 20px; }

.header__select-city {
  display: inline-block;
  /*padding: 5px 0 0 5px;*/
    margin: 5px 0 0 5px;
  color: #a70000;
  font-family: "MyriadProBold", sans-serif;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 2px dotted #a70000; }
  .header__select-city .fa {
    margin-left: 5px;
    color: #333333;
    font-size: 18px; }

.city__header-btn {
  display: block;
  clear: both;
  width: 50px;
  text-align: center;
  margin: 0 auto; }

.city__footer {
  height: 190px;
  background: #e4e4e4;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  border-radius: 0 0 4px 4px; }

/*╨Ф╨╛╤Б╤В╨░╨▓╨║╨░*/
.delivery__header {
  height: auto;
  padding: 20px 40px;
  box-sizing: border-box;
  color: #000; }

.delivery__footer {
  height: 170px;
  background: #e4e4e4;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px; }

.title__bold {
  text-align: center;
  font-family: "MyriadProBold", sans-serif;
  padding: 5px 0;
  font-size: 20px;
  line-height: 30px; }

.delivery__paragraph {
  padding-top: 10px;
  font-size: 20px;
  line-height: 30px; }

/*╨Ч╨░╨║╨░╨╖╨░╤В╤М ╨╖╨▓╨╛╨╜╨╛╨║*/
.pop__up-call-block {
  width: 635px;
  height: 490px;
  margin: 230px auto;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  border-radius: 4px; }

.call__block {
  position: relative;
  margin-bottom: 20px; }

.call_title {
  color: #a70000;
  margin: 62px 0 40px;
  font-size: 54px; }

.call__close {
  color: #a70000;
  position: absolute;
  top: -40px;
  right: 18px;
  cursor: pointer;
  font-size: 20px; }
  .call__close:hover {
    font-weight: bold; }

.anketa__close {
  color: #a70000;
  position: absolute;
  top: -10px;
  right: 18px;
  cursor: pointer;
  font-size: 20px; }
  .anketa__close:hover {
    font-weight: bold; }

.call__input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #808080;
  display: block;
  margin: 17px auto;
  width: 200px;
  outline: none; 
  font-size: 16px;
  font-family: "MyriadPro", sans-serif;
  color: #000;
}

.call__textarea {
  width: 240px;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  margin: 5px auto;
  border-radius: 3px;
  border: 1px solid #808080;
  outline: none;
  font-size: 16px;
  color: #000;
   font-family: "MyriadPro", sans-serif;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .call__textarea::-webkit-input-placeholder {
    font-size: 14px;
    font-family: "MyriadPro", sans-serif; }
  .call__textarea::-moz-placeholder {
    font-size: 14px;
    font-family: "MyriadPro", sans-serif; }
  .call__textarea:-moz-placeholder {
    font-size: 14px;
    font-family: "MyriadPro", sans-serif; }
  .call__textarea:-ms-input-placeholder {
    font-size: 14px;
    font-family: "MyriadPro", sans-serif; }

.call__btn {
  display: block;
  width: 225px;
  margin: 18px auto 0;
  text-align: center;
  font-size: 16px; }

.call__btn--blue {
  display: block;
  width: 200px;
  margin: 10px auto 0;
  background: #004480; }

.call__block-paragraph {
  display: block;
  width: 348px;
  font-size: 20px;
  line-height: 30px;
  margin: 25px auto 15px;
  padding: 30px 100px 0;
  color: black;
  text-align: center;}

.cont-form__input {
  margin: 20px auto; }

.anketa__block-title {
  margin: 30px 0 15px;
  padding: 30px 0 20px;
  text-align: center;
  font-family: "MyriadProBold", sans-serif;
  font-size: 24px; }

.anketa__input {
  padding: 8px 10px; }

.anketa__btn {
  width: 185px;
  padding: 6px 10px 8px 5px; }
  .anketa__btn .fa {
    font-size: 20px;
    padding-left: 7px; }

.pop__up-guestion-block {
  height: 490px;
  border-radius: 4px; }

/*╨Я╨╛╨┐ ╨░╨┐ ╨║╨╛╤А╨╖╨╕╨╜╨░*/
.pop__up-basket-block {
  width: 635px;
  height: 260px;
  margin: 230px auto;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  border-radius: 4px; }

.pop__up-basket {
  margin-top: 30px;
  overflow: hidden;
  padding: 30px 90px 0px; }

.pop__up-basket-main {
  float: left;
  width: 80%; }

.pop__up-basket-paragraph--normal {
  font-size: 20px;
  margin-bottom: 8px; }

.pop__up-basket-paragraph--bold {
  font-size: 20px;
  font-family: "MyriadProBold", sans-serif;
  margin-bottom: 12px; }

.pop__up-basket-paragraph--prise {
  font-size: 20px; }

.pop__up-basket-sidebar {
  float: left;
  width: 20%; }

.pop__up-basket-paragraph--red {
  font-size: 20px;
  color: #a70000;
  padding-left: 2px; }

.pop__up-basket-input {
  margin: 20px auto;
  padding: 15px 5px;
  text-align: center;
  width: 80px; }

.pop__up-basket-btn {
  margin: -2px auto;
  width: 140px; }
  .pop__up-basket-btn .fa {
    padding-left: 10px; }

/*╨Ъ╨░╤В╨░╨╗╨╛╨│ ╤В╨╛╨▓╨░╤А╨╛╨▓ - ╨│╤А╤Г╨┐╨┐╨░ ╤В╨╛╨▓╨░╤А╨╛╨▓*/
/*╨Ю╤Б╨╜╨╛╨▓╨╜╨░╤П ╤З╨░╤Б╤В╤М*/
.breadcrumbs {
  margin: 20px 0; }

.breadcrumbs__link {
  color: #004480;
  font-size: 17px;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

.breadcrumbs__link-active {
  text-decoration: none;
  color: #808080;
  font-size: 16px; }

.breadcrumbs__separator {
  font-weight: 100;
  font-size: 10px;
  padding: 0 5px; }

.catalog-group__title {
  color: #a70000;
  margin-bottom: 70px; }

.catalog-group__content {
  width: 750px;
  float: left;
  margin-bottom: 80px; }

.catalog-card {
  width: 220px;
  margin: 0 30px 60px 0;
  float: left; }

.catalog-card__img {
  width: 100%; }

.catalog-card__title {
  padding: 20px 0 25px;
  font-family: "MyriadProBold", sans-serif;
  font-size: 20px; }

.catalog-card__price {
  font-family: "MyriadProBold", sans-serif;
  font-size: 36px;
  color: #a70000; }
  .catalog-card__price .fa {
    font-size: 14px;
    color: #808080; }

.catalog-card__price-paragraph {
  padding: 12px 0 5px;
  font-size: 18px;
  color: #808080; }

.catalog-card__price-diler {
  font-family: "MyriadProBold", sans-serif;
  font-size: 22px;
  color: #004480;
  margin-bottom: 20px; }
  .catalog-card__price-diler .fa {
    font-size: 16px;
    color: #808080; }

.catalog-card_btn {
  padding: 8px 20px;
  border-radius: 4px; }
  .catalog-card_btn .fa {
    padding-left: 10px;
    font-size: 18px; }

/*╨б╨░╨╣╨┤╨▒╨░╤А*/
.catalog__group-sidebar {
  width: 340px;
  background: #e4e4e4;
  float: left;
  box-sizing: border-box; }

.sidebar-section {
  border-bottom: 2px solid #c7c7c7;
  padding: 15px; }

.sidebar-section-last {
  padding: 15px; }

.sidebar-section__title {
  font-family: "MyriadProBold", sans-serif; }
  .sidebar-section__title .fa {
    font-size: 12px;
    padding-right: 10px; }

.sidebar-section__type {
  padding: 20px 0 0 15px; }

.checkbox {
  display: none; }

.checkbox-custom {
  position: relative;
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  float: left;
  margin-top: 7px; }

.checkbox-custom, .label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px; }

.label {
  margin-bottom: 15px; }

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: url(../img/checkmark.png) no-repeat center center;
  background-size: 90%;
  border-radius: 2px; }

.sidebar__btn {
  display: block;
  width: 180px;
  margin: 0 auto; }

.sidebar-section__box {
  margin: 15px 0; }

.sidebar-section__price {
  border: 1px solid #9c9999;
  padding: 8px;
  border-radius: 5px;
  width: 70px;
  color: #888;
  font-size: 16px;
  display: inline-block;
  outline: none; }

.sidebar-section__tire {
  display: inline-block;
  padding: 0 5px; }

.sidebar-section__filter-down {
  height: 2px;
  top: 2px;
  width: 120px;
  right: -100%;
  background: #808080;
  position: absolute;
  z-index: 10; }

.sidebar-section__filter {
  margin: 30px 0 0;
  height: 3px;
  width: 120px;
  background: #a70000;
  border-radius: 5px;
  position: relative;
  z-index: 100; }

.sidebar-section__check-left {
  position: absolute;
  left: 0;
  top: 50%;
  background: #a70000;
  margin-top: -6px;
  height: 12px;
  width: 12px;
  z-index: 1000;
  border-radius: 50%; }

.sidebar-section__check-right {
  position: absolute;
  right: 0;
  top: 50%;
  background: #a70000;
  margin-top: -6px;
  height: 12px;
  width: 12px;
  z-index: 1000;
  border-radius: 50%; }

/*╨Я╤А╨╛╤Б╨╝╨╛╤В╤А╨╡╨╜╨╜╤Л╨╡*/
.viewed {
  overflow: hidden; }

.viewed__title {
  color: #a70000;
  padding: 10px 0 30px; }

/*╨Ъ╨░╤А╤В╨╛╤З╨║╨░ ╤В╨╛╨▓╨░╤А╨░*/
.card-product__slider {
  width: 720px;
  margin-right: 30px;
  float: left; }

.card-product__img {
  position: relative;
  margin-bottom: 30px; }

.card-product__photo {
  width: 100%; }

.card-product__zoom {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #004480; }

.card-product__img-block {
  float: left;
  margin-right: 20px;
  border: 2px solid #ababab; }

.card-product__description {
  width: 348px;
  float: left; }

.line {
  margin: 30px  0;
  width: 100%;
  height: 1.5px;
  background: #ababab; }

.card-product__title {
  color: #a70000;
  text-align: left;
  margin-bottom: 40px;
  font-size: 50px; }

.card-product__price {
  font-family: "MyriadProBold", sans-serif;
  font-size: 49px;
  margin-bottom: 15px; }
  .card-product__price .fa {
    font-size: 16px;
    color: #a70000; }

.card-product__info {
  margin-bottom: 50px; }

.card-product__article {
  border-top: 1px solid #ababab; }

.card-product__price-diler {
  border-top: 1px solid #ababab; }

.card-product__existence {
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab; }

.card-product__paragraph {
  float: left;
  color: #808080;
  font-size: 20px;
  line-height: 30px;
  width: 195px; }

.card-product-basket__btn {
  font-size: 22px;
  padding: 10px 20px 10px 25px; }
  .card-product-basket__btn .fa {
    font-size: 26px; }

.card-product__answer-existence {
  font-size: 16px; 
padding: 10px 0;}

.card-product__answer-articul {
  font-size: 16px; 
  padding: 10px 0;
}

.card-product__answer-price {
  font-family: "MyriadProBold", sans-serif;
  font-size: 16px;
  padding: 10px 0;
  color: #004480; }
  .card-product__answer-price .fa {
    font-size: 14px;
    color: #a70000; }

.card-product__block-function {
  margin: 50px 0; }

.product__block-function {
  float: left;
  width: 87px;
  height: 115px;
  text-align: center; }

.product__block-icon {
  width: 53px;
  height: 53px;
  border: 2px solid #e4e4e4;
  border-radius: 2px;
  box-sizing: border-box;
  background: url(../img/sprite.png) no-repeat 0 0;
  margin: 0  auto 4px; }

.icon1 {
  background-position: 10px -422px; }

.icon2 {
  background-position: -45px -422px; }

.icon3 {
  background-position: -93px -422px; }

.icon4 {
  background-position: -150px -422px; }

.product__block-link {
  margin-top: 4px;
  font-size: 14px;
    line-height: 18px;
  color: #004480;
  text-decoration: none;
 /* padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

.card-product__characteristics {
  width: 730px;
  margin: 25px 20px 0 0;
  float: left; }

.card-product__characteristics-title {
  font-family: "MyriadProBold", sans-serif;
  font-size: 24px;
  color: #a70000;
  margin-bottom: 30px; }

.card-product__characteristics-pharagraph {
  font-size: 20px;
  line-height: 30px; }

.card-product__download {
  width: 300px;
  margin: 25px 0 30px 0;
  float: left; }

.download__title {
  font-size: 24px;
  margin-bottom: 10px; }

.download__block {
  font-size: 20px;
  padding: 10px 5px; }
  .download__block .fa {
    font-size: 30px;
    padding-right: 5px; }

.download-dealer__title {
  margin-top: 35px; }

.download__block-link {
  color: #004480;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

.download__instruction {
  color: #004480; }

.download__presentation {
  color: #a70000;
  padding-bottom: 10px; }

.download__pasport {
  color: #458003; }

.lider {
  overflow: hidden; }

.lider-card {
  width: 190px; }

.lider__title {
  margin: 100px 0;
  color: #a70000; }

.catalog__item {
  display: block;
  width: 530px;
  float: left;
  padding-bottom: 10px; }
  .catalog__item:hover .catalog__item--size-m {
    border: 2px solid #a70000; }
  .catalog__item:hover .catalog__item-name {
    color: #a70000; }

.catalog__item--size-m {
  width: 530px;
  height: 285px;
  margin-bottom: 20px; }

.catalog__item:first-child {
  margin-right: 30px; }

.catalog__item:first-child .catalog__item--size-m {
  background: url(../img/product6.png) no-repeat bottom right; }

.catalog__item:last-child .catalog__item--size-m {
  background: url(../img/product7.png) no-repeat bottom right; }

.catalog__item-s {
  width: 350px;
  float: left;
  margin-right: 20px;
  padding-bottom: 10px; }
  .catalog__item-s:hover .catalog__item--size-s {
    border: 2px solid #a70000; }
  .catalog__item-s:hover .catalog__item-name {
    color: #a70000; }

.catalog__item-s:last-child {
  margin-right: 0px; }

.catalog__item--size-s {
  width: 350px;
  height: 190px;
  margin-bottom: 20px; }

.catalog__item-s:first-child .catalog__item--size-s {
  background: url(../img/product8.png) no-repeat bottom center; }

.catalog__item-s:nth-child(2) .catalog__item--size-s {
  background: url(../img/product9.png) no-repeat bottom center; }

.catalog__item-s:last-child .catalog__item--size-s {
  background: url(../img/product10.png) no-repeat bottom center; }

.catalog__item-name {
  margin: 30px 0;
  font-family: "MyriadProBold", sans-serif;
  font-size: 24px; }

.keywords_link {
  color: #004480;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  margin: 2px 0;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

.tab-row {
  margin-top: 75px; }

/*╨Ъ╨╛╨╜╤В╨░╨║╤В╤Л*/
.contact__title {
  margin: 5px 0 70px;
  color: #a70000; }

.contact__block {
  overflow: hidden; }

.contact__info {
  width: 50%;
  float: left;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  padding-left: 10px; }

.contact__cart {
  width: 50%;
  float: left; }
.contact__cart script{
  width: 100%;
}
.contact__info-title {
  font-family: "MyriadProBold", sans-serif;
  font-size: 24px;
  margin-bottom: 35px; }

.contact__info-bold {
  font-family: "MyriadProBold", sans-serif; }

.contact__info-map .fa,
.contact__info-scheme .fa,
.contact__info-time .fa,
.contact__info-sale .fa,
.contact__info-email .fa,
.contact__info-site .fa {
  color: #a70000;
  padding-right: 10px; }

.contact__info-link {
  color: #004480;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

.contact__info-scheme {
  margin-top: 0px; }

.contact__info-time {
  margin: 30px 0; }

.contact__diler-map {
  margin-top: 30px; }

.contact__diler-time {
  margin: 5px 0; }

.contact__select {
  float: none;
  width: 290px;
  margin: 15px auto 25px; }

.manadger__block {
  margin-top: 8px;
  width: 345px;
  float: left;
  margin-right: 40px; }

.manadger__block:last-child {
  margin-right: 0; }

.contact-autor__name {
  font-size: 20px; }

.contact-autor__position {
  font-size: 20px;
  line-height: 30px; }

.contact-manadger__phone {
  font-size: 20px;
  line-height: 30px; }

.contact-manadger__info-email {
  font-size: 20px; }

.manadger__phone {
  margin: 10px 0; }

.manadger__phone-bold {
  font-family: "MyriadProBold", sans-serif; }

.contact__manadger {
  overflow: hidden;
  margin: 20px 0; }

.contact__up {
  overflow: hidden;
  margin-bottom: 60px; }

.contact__down {
  overflow: hidden;
  padding-top: 40px; }

.contact__block-down {
  margin: 60px 0 90px; }

.contact__select {
  margin-top: -50px; }

/*contact-map*/
.contact-map__title {
  color: #a70000;
  margin: 20px 0 60px; }

.contact-map__print-block {
  display: block;
  text-align: center;
  margin: 0px auto 60px; }

.contact-map__print {
  text-align: center;
  color: #004480;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480;
  font-size: 20px;
  line-height: 30px; }

.map_comment {
  margin: 15px 0;
  font-size: 20px;
  line-height: 30px; }

.map__main {
  width: 100%; }

.map_step {
  float: left;
  margin-right: 20px;
  width: 49%; }

.map_step1 {
  width: 49%; }

.contact__cart-link {
  margin: 30px 0;
  font-size: 20px;
  line-height: 30px; }

.contact__cart-print {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  float: left; }

.card__map {
  float: left;
  margin-bottom: 30px; }

/*production*/
.production-block__title {
  color: #a70000; }

.production-block__certificate {
  margin-bottom: 70px; }

.production-block__description {
  overflow: hidden;
  margin-bottom: 50px; }

.production-block__description-text {
  width: 50%;
  float: left;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px; }

.production-block__description-text:first-child {
  padding-right: 30px; }

.production-block__description-text:last-child {
  padding: 30px 0 0 30px; }

.production-block__description-photo {
  width: 50%;
  float: left; }

.production-block__description-photo:nth-child(3) {
  margin-top: 30px; }

.production-block__comment {
  margin: 50px auto; }

.production__block-descr {
  width: 100%;
  height: 100px;
  background: #a70000;
  box-sizing: border-box;
  padding: 30px 0 30px 55px; }

.block-descr__paragraph {
  font-size: 20px;
  line-height: 30px;
  font-family: "MyriadProBold", sans-serif;
  color: white; }

.production__block-photo {
  clear: both;
  overflow: hidden;
  margin: 30px 0 20px; }

.block-photo {
  position: relative;
  float: left;
  width: 33.3%; }
  .block-photo:hover .block-photo__descr {
    bottom: 3px;
    opacity: 1; }

.block-photo__descr {
  width: 100%;
  height: 70px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: -67px;
  opacity: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -transition: all .5s; }

/*registration*/
.registration__title {
  margin: 25px 0;
  color: #a70000; }

.registration__block-radio {
  margin: 0 auto 10px;
  width: 160px;
  font-size: 20px;
  line-height: 30px;
  color: #000; }

.registration__block-form {
  width: 500px;
  margin: 0 auto 40px; }

.registration__block-input {
  padding: 7px 10px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid #ababab;
  border-radius: 5px;
  outline: none; }

.registration__block-input--size-xl {
  width: 500px; }

.registration__block-input--size-s {
  width: 200px;
  margin-right: 10px; }

.registration__block-input--size-l {
  width: 290px;
  float: right; }

.registration__block-text {
  padding-top: 10px;
  color: #a70000;
  font-size: 16px;
  line-height: 24px;
  width: 290px;
  float: right; }

.registration__block-input--size-m {
  width: 243px; }

.registration__block-input--first {
  margin-right: 10px; }

.registration__block--select {
  color: #ababab; }

/*profile user*/
.profile__paragraph {
  width: 350px;
  line-height: 50px; }

.card-product__paragraph-normal {
  font-size: 20px;
  line-height: 50px; }
  .card-product__paragraph-normal .fa {
    color: #a70000;
    padding-left: 15px;
    opacity: 0; }
  .card-product__paragraph-normal:hover {
    cursor: pointer; }
    .card-product__paragraph-normal:hover .fa {
      opacity: 1; }

.profile__block-title {
  text-align: left; }

.profile__input {
  margin: 10px 0;
  float: left; }

.profile__pasword {
  padding-left: 100px;
  margin-bottom: 50px; }

.profile__label:first-child {
  padding-top: 0; }

.profile__label {
  float: left;
  width: 210px;
  font-size: 20px;
  line-height: 30px;
  display: block;
  padding-top: 15px; }

.inset-profil__btn {
    display: block;
    width: 200px;
    margin: 50px 0 20px;
    background: #808080;}
.inset-login__paragraph2{
  text-align: left;
}
.pasword-chanche__block-form {
  width: 600px; }

.pasword-chanche__block-title {
  padding: 15px 0 5px;
  margin-bottom: 0; }

.pasword-chanche__block-btn {
  width: 200px; }

.pasword-change__paragraph {
  margin: -10px 0 0px;
  font-size: 20px;
  line-height: 30px; }

.profile__btn {
  display: block;
  width: 200px;
  margin: 20px 0;
  background: #808080; }

.basket__table {
  width: 100%;
  margin: 51px 0 48px; }

.basket__table-tr:first-child {
  border-top: none; }

.basket__table-tr {
  border-top: 1px solid #bebebe; }
  .basket__table-tr:hover {
    background: #ffe5e5; }

.basket__table-th {
  padding-left: 11px;
  padding-bottom: 15px;
  font-family: "MyriadProBold", sans-serif;
  color: #808080; }

.basket__table-td {
  padding: 11px 0;
  text-align: center; }

.basket__table-td--owerflow {
  display: block;
  width: 400px; }

.td--size-l {
  width: 470px;
  text-align: left;
  padding-left: 10px; }

.basket__table-th-artikle {
  margin-top: -5px; }

.basket__table-th-price {
  padding-top: 12px;
  padding-left: 25px; }

.basket__table-td-number {
  text-align: left;
  padding-left: 29px; }

.basket__table-th-col {
  width: 70px; }

.basket__table-link {
  color: #004480;
  font-size: 18px;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

.basket__table-camera {
  color: #004480;
  padding-left: 10px; }

.basket__table-times a {
  color: #a70000; }

.basket__table-th--last {
  width: 30px; }

.basket__table-input {
  border: 1px solid #808080;
  border-radius: 3px;
  width: 62px;
  height: 34px;
  box-sizing: border-box;
  padding: 5px;
  position: relative; }

.table-input {
  color: #808080;
  position: absolute;
  right: 10px;
  padding: 0; }

.table-input-up {
  bottom: 15px; }

.table-input-down {
  top: 15px; }

.basket__table-span {
  padding-left: 8px;
  line-height: 23px; }

.basket__table-tr-last {
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe; }

.basket__table-td-last {
  padding: 24px 0 22px 10px;
  font-family: "MyriadProBold", sans-serif;
  font-size: 24px; }

.basket__table-td-last:last-child {
  padding-left: 20px; }

.basker__block-btn {
  width: 425px;
  margin: 0 auto 70px; }

.basket__btn--green {
  margin-left: 17px;
  width: 160px;
  padding: 8px 17px;
  background: #458003; }

.basket__btn--red {
  width: 160px;
  margin-left: 31px;
  padding: 8px 20px; }

/*cabinet dealer*/
/*header dealer*/
.header__dealer-profile {
  float: left;
  margin-right: 10px;
  width: 295px;
  font-size: 20px;
  height: 115px; }

.dealer__name {
  margin: 13px 0;
  font-size: 19px; }

.dealer__name-link {
  color: #004480;
  font-size: 16px;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

.dealer__statys {
  font-size: 18px;
  color: #8f8f8f;
  margin: 2px 0 10px; }

.dealer__block {
  margin-top: 7px;
  font-size: 16px; }
  .dealer__block .fa {
    color: #8f8f8f;
    font-size: 20px; }

.dealer__exit {
  margin-left: 20px; }
  .dealer__exit .fa {
    margin-left: 19px; }

.dealer__profail {
  float: left;
  margin-right: 11px; }

/*notebook*/
.notebook {
  white-space: nowrap;
  overflow: hidden;
  text-align: center; }

.cabinet__title {
  margin-bottom: 42px; }

.notebook__input {
  display: none; }

.notebook__input + .notebook__label {
  display: inline-block;
  border: 1px solid gray;
  padding: 11px 20px;
  margin-right: -4px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  color: #a70000;
  font-size: 20px; }

.notebook__label:last-of-type {
  border-radius: 0 4px 4px 0; }

.notebook__label:first-of-type {
  margin-left: -20px;
  border-radius: 4px 0 0 4px; }

.notebook__input + .notebook__label:not(:last-of-type) {
  border-right: none; }

.notebook__input + .notebook__label:hover {
  color: white;
  background: #a70000; }

.notebook__input + .notebook__label:last-of-type::after {
  display: block;
  border-bottom: 1px solid gray;
  width: 2000px;
  content: "";
  position: absolute;
  bottom: 50%;
  left: 100%; }

.notebook__input + .notebook__label:first-of-type::after {
  display: block;
  border-bottom: 1px solid gray;
  width: 2000px;
  content: "";
  position: absolute;
  bottom: 50%;
  right: 100%; }

.notebook__input:checked + .notebook__label {
  color: white;
  background: #a70000;
  border-bottom: 1px solid #a70000; }

.notebook__inset {
  white-space: normal;
  display: none;
  border-top: none;
  margin: 0px;
  padding: 2px 0px; }

.notebook > .notebook__input:nth-of-type(1):checked ~ .notebook__inset:nth-of-type(1),
.notebook > .notebook__input:nth-of-type(2):checked ~ .notebook__inset:nth-of-type(2),
.notebook > .notebook__input:nth-of-type(3):checked ~ .notebook__inset:nth-of-type(3),
.notebook > .notebook__input:nth-of-type(4):checked ~ .notebook__inset:nth-of-type(4),
.notebook > .notebook__input:nth-of-type(5):checked ~ .notebook__inset:nth-of-type(5) {
  display: block; }

/*login and password*/
.notebook__inset-login {
  float: left;
  width: 52%; }

.notebook__inset-change-login {
  float: left;
  width: 48%; }

.inset-login__paragraph {
  text-align: left;
  font-size: 20px;
  margin: 15px 0; }

.inset-login__paragraph--first {
  text-align: left;
  font-size: 20px;
  margin: 20px 0; }

/*profil-company*/
.notebook__inset-profil-company {
  position: relative; }

.profil-company__info {
  font-size: 18px; }

.profil-company__title {
  float: left;
  width: 37%; }

.profil-company__text {
  float: left;
  width: 63%;
  margin: 25px 0 15px;
  padding: 30px 0 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #a70000; }

.profil-company__existence {
  border-bottom: none; }

.profil-company__existence:last-child {
  border-bottom: 1px solid #ababab; }

.profil-company__paragraph {
  width: 37%;
  text-align: left;
  font-size: 18px; }

.profil-company__paragraph-normal {
  text-align: left; }

.profil-company__time {
  position: absolute;
  bottom: 10px;
  right: 0px; }

/*complaint*/
.notebook__inset-complaint {
  padding-bottom: 30px; }

.complaint__new {
  width: 48%;
  float: left;
  margin-right: 11%; }

.complaint_name {
  width: 30%;
  margin-left: 10%;
  float: left;
  font-size: 20px; }

.complaint_name-autor {
  margin-top: 20px; }

.complaint_name-position {
  margin-top: 13px; }

.complaint_name-phone {
  margin-top: 23px; }

.complaint__block-form {
  width: 100%;
  margin-bottom: 115px; }

.complaint__title {
  text-align: left; }

.complaint__block-input--size-xl {
  width: 100%; 
color: #000;
    font-size: 16px;
    font-family: "MyriadPro", sans-serif;}

.complaint__block-input--size-s {
  width: 51%;
  display: block;
  margin-left: 0;
  text-align: left; 
color: #000;
    font-size: 16px;
    font-family: "MyriadPro", sans-serif;}
.registration__block-input::-webkit-input-placeholder {
    color: #a2a2a2;
    font-size: 16px;
    font-family: "MyriadPro", sans-serif; }
.registration__block-input::-moz-placeholder {
    color: #a2a2a2;
    font-size: 16px;
    font-family: "MyriadPro", sans-serif; }
.registration__block-input:-moz-placeholder {
    color: #a2a2a2;
    font-size: 16px;
    font-family: "MyriadPro", sans-serif; }
.registration__block-input:-ms-input-placeholder {
    color: #a2a2a2;
    font-size: 16px;
    font-family: "MyriadPro", sans-serif; }


.complaint__block-textarea--size-xl {
  width: 100%;
  font-family: "MyriadPro", sans-serif;
  font-size: 16px;
  color: #000;
  /* Firefox 19+ */
  /* Firefox 18- */ }

.attached-file {
  margin: 5px 0 10px;
  text-align: left;
  font-size: 20px; }
  .attached-file .fa {
    color: #a70000; }

.complaint__block-input--size-l {
  margin-top: 0;
  width: 71%;
  margin-right: 5%;
  display: block;
  float: left; 
color: #000;
    font-size: 16px;
    font-family: "MyriadPro", sans-serif;}
   
.complaint__download-btn {
  width: 24%;
  float: left;
  background: #ababab; }

.complaint__block-text {
  display: block;
  text-align: left;
  float: none;
  width: 100%;
  font-size: 16px; }

.complaint__new-btn {
  margin: 30px 0;
  float: left;
  font-size: 18px; }
  .complaint__new-btn .fa {
    padding-left: 5px; }

.complaint_name__paragraph-normal {
  text-align: left;
  margin: 60px 0 40px;
  font-size: 20px;
  padding-right: 2px; }

.complaint_name__block {
  width: 100%;
  text-align: left; }

.header__complaint {
  width: 100%;
  height: 60px;
  background: #e4e4e4;
  border: 1px solid #ababab;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 0 0; }

.anketa-header__complaint {
  margin-top: 40px; }

.arrow {
  float: left;
  color: #a70000;
  font-size: 18px; }

.header__complaint-data {
  float: left;
  margin-left: 20px;
  font-size: 19px; }

.header__complaint-time {
  float: left;
  margin-left: 25px;
  font-size: 20px; }

.header__complaint-number-order {
  float: left;
  margin-left: 230px;
  font-size: 20px;
  color: #808080; }
  .header__complaint-number-order .fa {
    padding-right: 8px; }

.header__complaint-number {
  font-family: "MyriadProBold", sans-serif; }

.header__complaint-btn {
  margin-left: 275px; }

.complaint-download__block {
  text-align: left;
  padding: 8px 0; }

.download__img .fa {
  color: #ff6c03; }

.content__complaint {
  border: 1px solid #ababab;
  border-top: none;
  font-size: 20px;
  margin-bottom: 70px; }

.basket__table-tr > .basket__table-td:first-child {
  padding-left: 10px; }

.basket__table-tr > .basket__table-td:last-child {
  padding-right: 10px; }

.content__complaint-main {
  width: 70%;
  float: left;
  border-right: 1px solid #ababab;
  box-sizing: border-box;
  text-align: left;
  padding: 20px 0 30px; }

.content__complaint-sidebar {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 30px 0 20px 26px; }

.content__complaint-sidebar-p {
  text-align: left;
  display: block;
  margin-bottom: 31px;
  font-size: 20px; }

.content-download__block-link {
  font-size: 20px; }

.complaint-download__block .fa {
  font-size: 28px;
  margin-right: 10px; }

.complaint-main__theme {
  padding: 11px 0; }

.complaint-main__theme-sp {
  margin-right: 15px;
  color: #ababab; }

.complaint-main__theme-last {
  width: 10%;
  float: left;
  color: #ababab;
  line-height: 30px; }

.complaint-main__theme-text {
  width: 90%;
  float: left;
  line-height: 30px; }

.complaint-main__number-link {
  color: #004480;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

/*catalog product*/
.notebook__inset-catalog-filtr {
  width: 100%;
  height: 105px;
  background: #e4e4e4;
  margin: 40px 0 10px 0;
  padding: 18px 33px;
  box-sizing: border-box; }

.catalog-filtr__section {
  float: left;
  margin-right: -2px; }

.catalog-filtr__search {
  float: left;
  margin-right: 40px; }

.delimiter {
  float: left;
  margin-top: 40px;
  margin-right: 6px; }

.catalog-filtr__title {
  text-align: left;
  font-size: 20px; }

.catalog-filtr__section-m {
  margin-right: 35px; }

.catalog-filtr__section2 {
  float: left;
  width: 215px; }

.catalog-filtr__section3 {
  float: left;
  width: 140px; }

.catalog-filtr__section3 > .catalog-filtr__title {
  text-align: center;
  margin-left: 15px; }

.catalog-filtr__input {
  width: 165px;
  margin-right: 10px;
  padding: 8px 10px;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid #ababab;
  border-radius: 5px;
  outline: none; }

.catalog-filtr__price {
  margin-top: 10px;
  padding: 7px 10px 7px 5px;
  width: 77px; }

.switch {
  margin: 15px auto 0;
  background: #69ae11;
  border: 1px solid #ababab;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative; }

.switch__circl {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  border: 1px solid #ababab;
  background: white;
  position: absolute;
  right: 0px;
  bottom: 0px; }

.inset-catalog__table {
  margin-top: 40px; }

.inset-catalog__table-tr {
  border-bottom: 1px solid #bebebe; }

.inset-catalog__table-th {
  font-family: "MyriadProBold", sans-serif;
  color: #808080; }

.description__product {
  color: #004480; }

.basket__table-shopping-cart {
  color: #a70000;
  padding-right: 25px; }

.catalog-filtr__block-btn {
  width: 450px; }

/*orders*/
.notebook__inset-order {
  margin: 40px 0; }

.order__table {
  margin: 20px 0 0;
  position: relative;
  z-index: 1; }

.basket__table-link {
  position: relative; }
  .basket__table-link:hover .new__recl {
    display: block; }

.basket__bolt-link {
  color: grey;
  position: relative; }
  .basket__bolt-link .fa {
    z-index: 100; }
  .basket__bolt-link:hover .new__recl {
    display: block; }

.new__recl {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 130px;
  background: #ebebce;
  padding: 10px 15px;
  border: 1px solid #ababab;
  z-index: 1000;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  display: none; }

.new__recl-long {
  width: 210px;
  left: 10px; }

.new__recl-img {
  width: 450px;
  right: 10px; }
  .new__recl-img img {
    width: 100%; }

.new__recl-img--down {
  bottom: 10px;
  top: auto; }

.basket__table-link--no {
  border-bottom: none; }

.contant__complaint-table-td {
  text-align: left; }

.catalog__table {
  margin-top: 0;
  font-size: 18px; }

/*recall*/
.comment-recall__title {
  margin: 30px 0 60px; }

.comment-recall__block {
  width: 100%;
  overflow: hidden; }

.comment-recall__block--first {
  margin-bottom: 30px; }

.comment-recall__main {
  width: 730px;
  margin-right: 40px;
  float: left; }

.comment__main {
  overflow: hidden; }

.comment-recall__title {
  color: #a70000; }

.comment-recall__sidebar {
  width: 290px;
  float: left; }

.product__recall {
  font-family: "MyriadProBold", sans-serif;
  font-size: 20px;
  margin-bottom: 10px; }

.product__recall-link {
  font-size: 20px;
  color: #004480;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  /*padding-bottom: 2px;*/
  border-bottom: 1px solid #004480; }

.recall-anketa {
  margin-top: 40px;
  height: 500px;
  background: #e4e4e4;
  padding-bottom: 40px; }

.recall-anketa__title {
  padding: 70px 0 50px;
  color: #a70000; }

.recall-anketa__block {
  width: 735px;
  margin: 0 auto; }

.recall-anketa__block-input--size-s {
  width: 250px;
  margin-right: 35px; }

.recall-anketa__block-input--size-m {
  width: 445px; }

.recall-anketa__block-textarea--size-xl {
  width: 100%; }

.recall-anketa-btn {
  background: #004480; }

/*drawn up/заявка принята*/
.drawn-up__title {
  color: #a70000;
  margin-bottom: 40px; }

.paragraph__block {
  color: #000;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto 40px;
  width: 696px; }

.drawn-up {
  padding-bottom: 50px; }

.drawn-up__btn .fa {
  padding-right: 10px; }

.paragraph__block-bold {
  font-family: "MyriadProBold", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px; }

.drawn-up__input {
  margin-bottom: 40px;
  width: 300px; }

.drawn-up__not {
  color: #a70000;
  text-align: center;
  margin-bottom: 40px; }

.drawn-up__input--not {
  margin-bottom: 10px;
  border: 1px solid #a70000; }

.enter__btn {
  width: 120px; }

.enter__block {
  width: 100%; }

.enter__block-input--size-m {
  width: 51%;
  display: block;
  margin: 20px auto; }

.designer-or__block {
  width: 100%;
  overflow: hidden;
  margin: 60px 0 90px; }

.designer-or__half {
  float: left;
  width: 50%; }

.designer-or__title {
  text-align: left; }

.designer-or__text {
  text-align: left;
  margin-bottom: 70px;
  line-height: 28px; }

.basket__btn--blue {
  background: #004480;
  text-align: left; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*main*/
  .container {
    width: 920px;
    margin: 0 auto; }

  h2 {
    font-size: 46px; }

  .header__logo {
    margin-right: 10px; }
  .header__contacts {
    margin-right: 10px; }
  .header__autorization {
    margin-right: 10px; }

  .logo img {
    width: 90%; }

  .contacts {
    width: 250px; }
    .manadger__block{
        width: 280px;
    }

  .header__our-city {
    margin-top: 5px;
    font-size: 14px; }

  .header__select-link {
    font-size: 14px; }

  .phone {
    font-size: 20px; }

  .autorization {
    width: 225px;
    font-size: 14px; }

  .autorization__form-user .fa {
    height: 35px; }

  .autorization__enter,
  .autorization__registration {
    font-size: 14px; }

  .user__input {
    width: 85px; }

  .password__input {
    width: 85px; }

  .basket__go-shopping {
    font-size: 14px; }

  .main-menu {
    margin-right: 70px; }

  .main-menu__link {
    font-size: 12px; }

  .main-menu__item {
    padding-bottom: 13px; }
    .start>.container{
        background-size: 53%;
    }
  .description__name {
    padding-top: 47px;
    color: #a70000;
    width: 450px;
    margin-bottom: 44px; }

  .autor__name {
    font-weight: bold;
    font-size: 16px; }

  .question__contact-position {
    font-size: 16px; }

  .certificate__block {
    width: 745px;
    -ms-transform: skew(-20deg); }

  .certificate__text {
    width: 650px;
    -ms-transform: skew(20deg);
    font-size: 18px; }

  .tab__item-description {
    width: 55%; }

  .tab__item--size-m {
    width: 445px;
    height: 305px;
    padding: 20px 0 20px 25px; }

  .tab__item--size-m:first-child {
    background-size: 60%; }

  .tab__item--size-m:last-child {
    background-size: 60%; }

  .tab__item--size-m > .tab__item-description {
    margin-top: 15px;
    font-size: 18px; }

  .tab__item--size-m > .tab__item-price {
    font-size: 48px; }

  .tab__item--size-s {
    width: 285px;
    height: 205px;
    padding: 20px 0 20px 25px; }

  .tab__item-name {
    font-weight: bold;
    font-size: 16px; }

  .tab__item--size-s:first-child {
    background-size: 60%; }

  .tab__item--size-s:nth-child(2) {
    background-size: 60%; }

  .tab__item--size-s:last-child {
    background-size: 60%; }

  .tab__item--size-s > .tab__item-description {
    margin-top: 15px;
    font-size: 14px; }

  .tab__item--size-s > .tab__item-price {
    font-size: 25px;
    margin-top: 5px; }

  .production__photo--s {
    width: 306.6px; }

  .production__photo--s img {
    width: 306.6px;
    height: 300px; }

  .production__photo--m {
    width: 613.2px; }

  .production__photo--m img {
    width: 613.2px;
    height: 300px; }

  .production__step {
    width: 158px;
    font-size: 16px; }

  .contact-chef__autor-photo {
    margin-right: 20px; }

  .question__contact-chef {
    width: 430px;
    padding-right: 10px; }

  .question__contact-button {
    font-size: 14px; }

  .question__contact-button-call {
    font-size: 14px; }

  .card-product-basket__btn {
    font-size: 18px; }

  .card-product-basket__btn .fa {
    font-size: 16px; }

  .question__contact {
    width: 200px;
    margin-right: 40px; }

  .footer__design {
    margin-left: 40px; }

  /*Pop up*/
  .pop__up-call-block {
    margin-top: 60px; }

  .pop__up-block {
    margin-top: 80px; }

  /*cabinet diler░*/
  .catalog-filtr__input {
    width: 170px; }

  .registration__block-input--size-s {
    width: 170px; }

  .catalog-filtr__price {
    width: 55px;
    padding: 9px 3px;
    font-size: 10px; }

  .catalog-filtr__price::-webkit-input-placeholder {
    font-size: 10px; }

  .catalog-filtr__price::-moz-placeholder {
    font-size: 10px; }

  /* Firefox 19+ */
  .catalog-filtr__price:-moz-placeholder {
    font-size: 10px; }

  /* Firefox 18- */
  .catalog-filtr__price:-ms-input-placeholder {
    font-size: 10px; }

  .header__dealer-profile {
    width: 230px; }

  .catalog-filtr__section2 {
    width: 150px; }

  .catalog-filtr__section-m {
    margin-right: 0; }

  .catalog-filtr__section3 {
    width: 115px; }

  .header__complaint-btn {
    margin-left: 90px; }

  /*card-product*/
  .card-product__slider,
  .card-product__characteristics {
    width: 540px; }

  /*catalo*/
  .catalog__item {
    width: 445px; }

  .catalog__item--size-m {
    height: 235px;
    width: 445px; }

  .catalog__item-s {
    width: 285px; }

  .catalog__item--size-s {
    height: 155px;
    width: 285px; }

  .lider-card {
    width: 154px; }

  /*catalog-group*/
  .catalog-group__content {
    width: 600px; }

  .catalog-card {
    width: 162px;
    margin-right: 20px; }

  .catalog__group-sidebar {
    width: 310px; }

  /*map*/
  .map__main {
    width: 100%; }

  .map_step,
  .map_step1 {
    width: 48%; }

  .contact__cart-print {
    width: 85px;
    height: 85px; }

  /*production*/
  .production-block__description-photo img {
    width: 100%; }
    .production-block__description-text{
        font-size: 14px;
    }
  .block-photo {
    width: 33.3%; }

  .block-photo img {
    width: 100%; }

  /*recall*/
  .comment-recall__main {
    width: 590px; }

  .quality__comment {
    width: 590px; }

  .comment__autor {
    width: 150px; }

  .comment__recall {
    font-size: 14px; }

  .comment__recall {
    width: 365px; }

  .product__recall {
    font-size: 16px; }

  .product__recall-link {
    font-size: 16px; }

  /*end ie*/ }
/*Mozila*/
@-moz-document url-prefix() {
    .call_title {
    margin: 50px 0 25px;
}
.sidebar-section__price {
    font-size: 14px;
}
    
/*end mz*/}

